*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/out
/.idea
hs_err_pid32780.log
java_pid25784.hprof
java_pid32780.hprof
java_pid34188.hprof
core.zip
